<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/home.css">
<div class="row">
    <div class="col-6">

        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title">Настройки пользователя</h5>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Имя: <%= currentUser.username%></li>
                <li class="list-group-item">Электронная почта: <%= currentUser.email%></li>
            </ul>
        </div>

    </div>
</div>