<% layout('layouts/boilerplate')%>
<link rel="stylesheet" href="/stylesheets/navbar.css">
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <div class="card-body">
                <h4 class="card-title">
                    <% if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                        <%=constants.labelsEng.ADMINISTRATION%>
                    <% } else if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                        <%=constants.labelsRus.ADMINISTRATION%>
                    <% } %>
                </h4>
                <table class="table">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <a aria-current="page"
                                    <% if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                        href="/eng/users"
                                    <% } else if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                        href="/rus/users"
                                    <% } %>
                                >
                                    <% if (pageInfo.language === constants.variables.LANGUAGE_ENG) { %>
                                        <%=constants.labelsEng.USERS%>
                                    <% } else if (pageInfo.language === constants.variables.LANGUAGE_RUS) { %>
                                        <%=constants.labelsRus.USERS%>
                                    <% } %>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>